<div class="forum-posts">
    <table class="forum-table">
        <tr>
            <th>{{ 'eq3w.forum::fe_lang.post' | trans }}</th>
            <th class="activity-column">{{ 'eq3w.forum::fe_lang.when' | trans }}</th>
        </tr>

        {% for post in posts %}
            {% set topic = post.topic %}
            <tr class="forum-topic">
                <td>
                    <div class="forum-post">
                        {% if otherMember.is_moderator %}
                            <div class="actions">
                                <a href="javascript:;"
                                    class="approve"
                                    data-request="onFlagSpam"
                                    data-request-data="post: {{ post.id }}"
                                    data-request-update="'@posts': '#forumPosts'"
                                    data-request-confirm="{{ 'eq3w.forum::fe_lang.of' | trans }}">
                                    {{ 'eq3w.forum::fe_lang.flag_spam' | trans }}
                                </a>
                                <a href="javascript:;"
                                    class="approve pull-right"
                                    data-request="onApprove"
                                    data-request-data="post: {{ post.id }}"
                                    data-request-update="'@posts': '#forumPosts'">
                                    {{ 'eq3w.forum::fe_lang.member_approve' | trans }}
                                </a>
                            </div>
                            <br />
                        {% endif %}
                        <div class="text">
                            {{ post.content_html|raw }}
                        </div>
                    </div>
                </td>
                <td class="activity-column">
                    <p>
                        <img src="{{ post.member.user.avatarThumb(24) }}" class="member-avatar" />
                        <a href="{{ post.member.url }}">{{ post.member.username }}</a>
                        {{ 'eq3w.forum::fe_lang.posted_in' | trans }}
                        <a href="{{ topic.url }}?page=last#post-{{ post.id }}">{{ topic.subject }}</a>
                        {% partial __SELF__ ~ "::timestamp" date=post.updated_at %}
                    </p>
                </td>
            </tr>
        {% endfor %}

        {% if not posts|length %}
            <tr>
                <td colspan="100">{{ 'eq3w.forum::fe_lang.no_posts' | trans }}</td>
            </tr>
        {% endif %}
    </table>
</div>
