<div class="rainlab-forum">
    <h5>
        {{ member.username }}
    </h5>
    <p>
        <img src="{{ member.user.avatarThumb(50) }}" />
    </p>
    <p>{{ 'eq3w.forum::fe_lang.member_since' | trans }}: {{ member.created_at|date('M Y') }}</p>
    {% if not member.is_approved %}
        <p>{{ member.username }} {{ 'eq3w.forum::fe_lang.requires_approval' | trans }}</p>
    {% endif %}
    {% if member.is_banned %}
        <p>{{ member.username }} {{ 'eq3w.forum::fe_lang.user_banned' | trans }}</p>
    {% endif %}
    {% if member.is_moderator %}
        <p>{{ member.username }} {{ 'eq3w.forum::fe_lang.user_is_moderator' | trans }}</p>
    {% endif %}

    <h4>{{ 'eq3w.forum::fe_lang.recent_posts' | trans }}</h4>
    {% partial '@recentposts' %}
</div>