{% set posts = __SELF__.getRecentPosts() %}

<table class="forum-table">
    <tr>
        <th>{{ 'eq3w.forum::fe_lang.post' | trans }}</th>
        <th class="activity-column">{{ 'eq3w.forum::fe_lang.when' | trans }}</th>
    </tr>

    {% for post in posts %}
        {% set topic = post.topic %}
        <tr class="forum-topic">
            <td>
                {{ html_limit(post.content_html, 100)|raw }}
            </td>
            <td class="activity-column">
                <p>
                    {{ 'eq3w.forum::fe_lang.posted_in' | trans }}
                    <a href="{{ topic.url }}?page=last#post-{{ post.id }}">{{ topic.subject }}</a>
                    {% partial __SELF__ ~ "::timestamp" date=post.updated_at %}
                </p>
            </td>
        </tr>
    {% endfor %}

    {% if not posts|length %}
        <tr>
            <td colspan="100">{{ 'eq3w.forum::fe_lang.member_not_part' | trans }}</td>
        </tr>
    {% endif %}
</table>
