subject = "Beitrag zu: '{{ topic.subject }}'"
==
Sehr geehrte/r {{ member.username }},

{{ post.member.username }} hat soeben zu dem von Ihnen verfolgten Thema "{{ topic.subject }}" im Forumkanal "{{ channel.title }}" beigetragen. Möglicherweise gibt es noch weitere Antworten, Sie erhalten zu diesem Thema aber keine Benachrichtigungen mehr, bis Sie wieder im Forum aktiv sind.

Dieses Thema finden Sie unter:
{{ postUrl }}

Hier ist der Beitrag, der gerade veröffentlicht wurde:
----------------------------------------------
{{ post.content }}
----------------------------------------------

~~~~~~~~~~~~~~~~~~~~~~~~~~
Informationen zur Abmeldung

Sie möchten sich von DIESEM Thema abmelden, besuchen Sie bitte diese Seite:
{{ unfollowUrl }}

Um sich von ALLEN Themen abzumelden, besuchen Sie bitte diese Seite:
{{ unsubscribeUrl }}

==

<p>Sehr geehrte/r {{ member.username }},</p>

<p>{{ post.member.username }} hat soeben zu dem von Ihnen verfolgten Thema <em>"{{ topic.subject }}"</em> im Forumkanal "{{ channel.title }}" beigetragen. Möglicherweise gibt es noch weitere Antworten, Sie erhalten zu diesem Thema aber keine Benachrichtigungen mehr, bis Sie wieder im Forum aktiv sind.</p>

<p>
    Dieses Thema finden Sie unter:<br />
    <a href="{{ postUrl }}">{{ postUrl }}</a>
</p>

<p>Hier ist der Beitrag, der gerade veröffentlicht wurde:</p>
<hr />
{{ post.content }}
<hr />

<br /><br />
<hr />
<p><strong>Informationen zur Abmeldung</strong></p>

<p>
    Sie möchten sich von DIESEM Thema abmelden, besuchen Sie bitte diese Seite: <br />
    <a href="{{ unfollowUrl }}">{{ unfollowUrl }}</a>
</p>

<p>
    Um sich von ALLEN Themen abzumelden, besuchen Sie bitte diese Seite:<br />
    <a href="{{ unsubscribeUrl }}">{{ unsubscribeUrl }}</a>
</p>
